@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Raleway:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor01: #254f28;
    --cor02: #306634;
    --cor03: #48994d;
    --cor04: #50aa56;
    --cor05: #b1e5b4;

    --fonte-padrao: 'raleway', sans-serif;
    --fonte-secundaria: 'courgette', serif;
            
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var(--fonte-padrao);
    
}

header {
    background-image: linear-gradient(to bottom, #ffffff 35%, var(--cor05) 65%);
    margin: auto;
    text-align: center;
    padding-top: 5px;
    min-height: 100px;

}

header img{
    max-width: 100%;
    min-width: 35%;
}

header > p {

    font-size: 13px;
    font-weight: 500;
    font-family: var(--fonte-secundaria);
    padding: 15px 20px 10px 10px;
    color: var(--cor01);
   
}


nav {
    font-family: var(--fonte-padrao);
    background-color: var(--cor05);
    padding: 10px 10px 10px 10px;
    text-align: center;

}

nav > a {
    text-decoration: none;
    padding: 10px;
    color: var(--cor02);
    font-weight: bold;
    font-size: 13px;
    border-radius: 10px 10px 0px 0px;

}

nav > a:hover {
    background-color: var(--cor02);
    color: #fff;
    transition: 0.6s;


}

main {
    max-width: 800px;
    min-width: 300px;
    margin: auto;
    padding: 10px;
    line-height: 2em;
    font-weight: 500;
    color: var(--cor01);
}

main h1 {
    text-align: left;
    color: var(--cor01);
    font-weight: bold;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}


article {
    margin: auto;
    padding-bottom: 10px;
    text-align: justify;
    font-size: 25px;
    
}

section {
    color: white;
    padding: 2vh;
    text-shadow: 2px 2px 0px rgb(0, 0, 0);
    background-image: url('../img/trabalho/008.jpg');
    background-position: center;
    box-shadow: inset 6px 6px 13px rgba(0, 0, 0, 0.733);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

section h1 {
    color: white;
    background-color: rgba(0, 0, 0, 0.452);
}

section p {
    background-color: rgba(0, 0, 0, 0.452);
    
}

section li{
    background-color: rgba(0, 0, 0, 0.452);

}

section > p, li{
    margin: auto;
    padding-bottom: 10px;
    text-align: justify;
    font-size: 25px;
    
    
    
}

footer{
    bottom: 0px;
    width: 100%;
    background-image: linear-gradient(var(--cor05), var(--cor03));
}
.main-content{
    display: flex;
    font-weight: 500;
    color: var(--cor01);
}
.main-content .box{
    flex-basis: 50%;
    padding: 15px 0px 15px 30px;
}
.box h2{
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}
.box .content{
    margin: 15px 0 0 0;
}

.box .content .social img{
    width: 6%;
    padding-right: 35px;
    padding-bottom: 30px;
}

.left .content p{
    text-align:justify;
}

.bottom .center{
    padding: 5px;
    font-size: 15px;
    background: var(--cor01);
    text-align: center;
}
.bottom .center span{
    color: var(--cor05);
    font-weight: bold;
    
}
.bottom .center a{
    color: #ffffff;
    font-style: italic;
    text-decoration: none;
}
.bottom .center a:hover{
    text-decoration: underline;
    color:var(--cor05)
}
@media screen and (max-width: 900px){
    footer{
    
        bottom: 0px;
    }
    .main-content{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .main-content .box{
        margin: 5px 0;
    }
}